---
layout: default
title: Entretenimento
---

<section class="pagina-noticias">

  {% assign entretenimento = site.posts | where: "categories", "entretenimento" %}

  {% for post in entretenimento %}

    {% if forloop.first %}
      <!-- ===== DESTAQUE ===== -->
      <article class="noticia-destaque">

        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image }}" alt="{{ post.title }}">
        </a>

        <a href="{{ post.url | relative_url }}" class="destaque-titulo">
          {{ post.title }}
        </a>

      </article>

      <div class="linha-divisoria"></div>

    {% else %}
      <!-- ===== LISTA NORMAL ===== -->
      <article class="noticia-item">

        <div class="noticia-imagem">
          <a href="{{ post.url | relative_url }}">
            <img src="{{ post.image }}" alt="{{ post.title }}">
          </a>
        </div>

        <div class="noticia-conteudo">
          <a href="{{ post.url | relative_url }}" class="noticia-titulo">
            {{ post.title }}
          </a>
        </div>

      </article>

      {% unless forloop.last %}
        <div class="linha-divisoria"></div>
      {% endunless %}

    {% endif %}

  {% endfor %}

</section>
