<div class="custom-carousel">

  <div class="carousel-wrapper">

   

      {% for post in include.posts %}
      <div class="carousel-track">
        <div class="carousel-slide">
          <a href="{{ post.url | relative_url }}">
            <img src="{{ post.image }}" alt="{{ post.title }}">
          </a>
        </div>
      </div>
      <div class="carousel-title">{{ post.title }}</div>
      {% endfor %}

 

    <!-- Botões laterais -->
    <button class="carousel-btn prev">❮</button>
    <button class="carousel-btn next">❯</button>

    <!-- Indicadores -->
    <div class="carousel-indicators"></div> 

  </div>

         <!-- <div class="carousel-title">{{ post.title }}</div> -->
  
</div>
