<footer>
<div class="footer-links">
    <a href="#">quem somos</a>
    <a href="#">política de privacidade</a>
    <a href="#">termos de uso</a>
    <a href="#">post patrocinado</a>
    <a href="#">fale conosco</a>
</div>
<div style="font-weight: 300; line-height: 1; font-size: 10px; margin-top: 25px; color: white; text-decoration: none;">
    <p>© 2026 entrada11.com.br</p>
    <p>Todos os direitos reservados.</p>
    <p>É proibida a reprodução total ou parcial, por qualquer meio, sem prévia autorização por escrito.</p>
</div>
</footer>
