<header>
    <div class="notification">
        <svg viewBox="0 0 24 24">
            <path d="M18 8a6 6 0 10-12 0c0 7-3 7-3 7h18s-3 0-3-7"/>
            <path d="M13.73 21a2 2 0 01-3.46 0"/>
        </svg>
    </div>

    <div class="header-title">entrada11</div>

    <div class="menu-icon">
        <div></div>
        <div></div>
        <div></div>
    </div>

<div class="side-menu" id="sideMenu">
    <div class="menu-header">entrada11</div>
    <div class="close-btn">
        <div></div>
        <div></div>
    </div>
    <div class="menu-divider"></div>
    <div class="menu-links">
        <a href="{{ '/' | relative_url }}">home</a>
        <a href="{{ '/noticias' | relative_url }}">notícias</a>
        <a href="{{ '/entretenimento' | relative_url }}">entretenimento</a>
        <a href="{{ '/curiosidades' | relative_url }}">curiosidades</a>
    </div>
</div>

</header>

