.custom-carousel {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 40px auto;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 25vh;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Título sobre a imagem */
.carousel-caption {
  margin-top: 12px;
  font-size: 1.3rem;
  font-weight: 600;
  
}

/* Botões laterais */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

/* Indicadores */
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: rgba(255,255,255,0.6);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background: red;
}
