<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  
  <!-- CSS do style -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  
  <!-- CSS do carrossel -->
  <link rel="stylesheet" href="{{ '/assets/css/carousel.css' | relative_url }}">
</head>

<body>

  {% include header.html %}

  <main class="page-content">
    {{ content }}
  </main>

  {% include footer.html %}
  
  <!-- JS do carrossel -->
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

  <!-- JS do carrossel -->
  <script src="{{ '/assets/js/carousel.js' | relative_url }}" defer></script>

</body>
</html>
