---
layout: default
---

<main>

<div class="autor">{{ page.author }}</div>
<div class="data">
  {{ page.date | date: "%d/%m/%Y - %H:%M" }}
</div>

<div class="titulo">{{ page.title }}</div>

<div class="subtitulo">
  {{ page.subtitle }}
</div>

<div class="imagem-container">
    <img src="{{ page.image }}" alt="{{ page.title }}">
</div>

<div class="descricao-imagem">
  {{ page.image_description }}
</div>

<div class="conteudo">
  {{ content }}
</div>

<!-- ==================== CARROSSEL POST ========================== -->

<div class="custom-carousel">

  <div class="carousel-wrapper">

    <div class="carousel-track">

      <!-- Slides aqui -->
      <div class="carousel-slide">
        <img src="imagem.jpg" alt="">
      </div>

    </div>

    <!-- Botões laterais -->
    <button class="carousel-btn prev">❮</button>
    <button class="carousel-btn next">❯</button>

    <!-- Indicadores -->
    <div class="carousel-indicators">
      <span class="indicator active"></span>
      <span class="indicator"></span>
    </div>

  </div>

  <!-- Título sempre fora da área da imagem -->
  <div class="carousel-title">
    Título do artigo aqui
  </div>

</div>
</main>
