---
layout: default
---

<div class="autor">{{ page.author }}</div>
<div class="data">
  {{ page.date | date: "%d/%m/%Y - %H:%M" }}
</div>

<div class="titulo">{{ page.title }}</div>

<div class="subtitulo">
  {{ page.subtitle }}
</div>

<div class="imagem-container">
    <img src="{{ page.image }}" alt="{{ page.title }}">
</div>

<div class="descricao-imagem">
  {{ page.image_description }}
</div>

<div class="conteudo">
  {{ content }}
</div>

<!-- ==================== CARROSSEL POST ========================== -->

<!-- {% assign relacionados = site.posts 
   | where_exp: "post", "post.url != page.url" %}

{% assign relacionados = relacionados | sort: "date" | reverse | slice: 0,5 %}

{% include carousel.html posts=relacionados %} -->
